.body {
  background-color: #f0f0f0;
  width: 100dvw;
  height: 100dvh;
}

.App {
  overflow: visible;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.App-main {
  overflow: visible;
  flex: 1;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 80px);
  /* overflow-y: auto; */
}

/* @media (max-width: 768px) {
  .App-main {
    padding: 10px;
  }
} */